
/***********************/
/* SYNTAX HIGHLIGHTING */
/***********************/

.highlight { 
  background-color: $lightGray;
  padding: 5px 10px;
  margin: 20px 0;
}

.highlight pre {
  /* overflow: scroll; Prefer no word wrap? Uncomment this line and comment out the 2 lines below. */
  word-break: break-all;
  word-wrap: break-word;
}
 
code {
  font-family: 'Courier', monospace;
  font-size: 14px;
  color: #999
}/* ::::: http://mottie.github.io/Github-Dark/themes/pygments-zenburn.min.css ::::: */

.highlight, .highlight pre, .highlight table { background: none repeat scroll 0% 0% rgb(56, 56, 56) ! important; color: rgb(101, 101, 85) ! important; }
.highlight .err { color: rgb(240, 223, 175) ! important; background-color: rgb(111, 111, 111) ! important; }
.highlight .nf { color: rgb(147, 224, 227) ! important; }
.highlight .c, .highlight .cm, .highlight .c1 { color: rgb(92, 136, 139) ! important; }
.highlight .g, .highlight .l, .highlight .x, .highlight .ge, .highlight .gs, .highlight .ld, .highlight .ni, .highlight .nl, .highlight .nx, .highlight .py, .highlight .n, .highlight .go { color: rgb(108, 160, 163) ! important; }
.highlight .k { color: rgb(240, 223, 175) ! important; }
.highlight .s1 { color: rgb(188, 131, 131) ! important; }
.highlight .nb, .highlight .bp { color: rgb(140, 208, 211) ! important; }
.highlight .nc, .highlight .nn { color: rgb(124, 184, 187) ! important; }
.highlight .o, .highlight .p, .highlight .na, .highlight .ne { color: rgb(220, 220, 204) ! important; }
.highlight .cp, .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .ss, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .nt, .highlight .ow { color: rgb(143, 178, 143) ! important; }
.highlight .gd, .highlight .gr, .highlight .gt, .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .sr, .highlight .il { color: rgb(156, 99, 99) ! important; }
.highlight .no, .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .nd, .highlight .sx { color: rgb(223, 175, 143) ! important; }